
<div id="footer" class="panel">
  <div class="panel-footer">
  <div class="container-fluid">
    <div class="row">
    <div class="col-sm-4">
      
      <p>&copy 2020 Liu Lab at IMUST. 
              <p> Key Laboratory for Functional Genomic Bioinformatics </p>
        <p> Department of Bioinformatics </p>
        <p> School of Life Science and Technology </p>
        <p> Inner Mongolia University of Science and Technology </p>

       <p>  </p><p>
                  
            
    </div>
    </div>
  </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
