
<div id="footer" class="panel">
  <div class="panel-footer">
  <div class="container-fluid">
    <div class="row">
    <div class="col-sm-4">
      
      <p>&copy 2020 Duren Lab. 
              <p> Center for Human Genetics </p>
        <p> Department of Genetics and Biochemistry </p>
        <p> College of Science </p>
        <p> Clemson University </p>

       <p>  </p><p>
                  
            
    </div>
    </div>
  </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>